.container{
  padding-top: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.hero-3 {
    position: relative;
    color: white;
    height: 400px;
    border-radius: 12px;
    background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=1350&q=80') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 1200px;
    border: 2px solid #8A2BE2; /* Blue-violet border */
    box-shadow: 0 0 20px 4px rgba(138,43,226, 0.7), /* Blue-violet outer glow */
                0 0 40px 8px rgba(138,43,226, 0.4); /* Softer outer spread */
 opacity: 90%;
           }

.hero-3::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
  border-radius: 12px;
}
.hero-3 .content {
  position: relative;
  max-width: 700px;
  z-index: 1;
}
.hero-3 h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}
.hero-3 p {
  font-size: 1.3rem;
}